* {
    font-size: 12px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.codigo,
th.codigo {
    width: 20px;
    max-width: 40px;
    word-break: break-all;
}

td.producto,
th.producto {
    width: 20px;
    max-width: 125px;
}

td.nparte,
th.nparte {
    width: 20px;
    max-width: 80px;
    word-break: break-all;
}

td.cantidad,
th.cantidad {
    width: 20px;
    max-width: 80px;
    word-break: break-all;
    text-align: center;
    align-content: center;
}



.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 100%;
    /*max-width: 645px;*/
}

.firma {
    text-align: center;
    align-content: center;

}

img {
    text-align: center;
    margin-bottom: 10px;
    margin-left: 55px;
    max-width: inherit;
    width: inherit;
}

